* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: left;
}

nav {
    background: #2d3142;
    padding: 0 20px;
}

ul {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 1rem;
    padding: 15px 5px;

}

.menu li a {
    display: block;
}

/* Mobile Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.nav-item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}

.nav-item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.bars {
    background: #bfc0c0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 18px;
    height: 2px;
}

.bars::before, .bars::after {
    background: #bfc0c0;
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 2px;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}

/* Tablet Menu */
@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
    .navbar-brand {
        flex: 1;
    }
}

/* Desktop Menu */
@media all and (min-width: 768px) {
    .nav-item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .navbar-brand {
        order: 0;
    }
    .nav-item {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
}

.bg-primary {
    background-color: #ef8354!important;
}

header,section {
    padding: 100px 0;
    display: block;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}

@media (min-width: 1200px) {
    .container {
        max-width: 760px;
    }
}

#profile {
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
